*{
  margin: 0%;
  box-sizing: border-box;
}
body{
  background-color: #ddd;
  font-family: 'Open Sans', sans-serif;

}
#main_div{
    width:100%;
    background-color: white;
    position: relative;
    padding-top: 5px;
    /* display: flexbox; */
    }
    .input{
    padding:15px;
    background-color:#f5f5f5;
    border:none;
    margin-left:25px;
    }
    div{
    /* border: 2px solid #ddd; */
    float:left;
    margin:3px;
    }
    .margin{
        margin: 5px;
        margin-left:37px;
        padding:5px;
    }
    .text{
    margin-left: 6px;
    font-size:18px;

    }
    .dropdown {
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        
        background-color: #f1f1f1;
        min-width: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      .small_div{
        /* position: absolute;
        display: block; */
        
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: #ddd;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {background-color: #3e8e41;}

      ul li{
        display: inline-block;
        margin-left: 2%;
        text-align: center;
        
      }
      ul li a{
        text-decoration: none;
        color: black;
      }